.headerWrapper{
 
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color:  rgb(181, 181, 181);
    font-size: 160%;
    height: 40px;
}
.headerElem{
    margin-top: 2%;
    margin-left: 5%;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.headerElem:hover{
    color: green;
}
.headerLogo{
    margin-left: 2%;
    cursor: pointer;
}
.headerLogoWrapper{
    
    top: 50px;
    margin-left: 2%;
    display: inline;
    width: 50%;
}
.headerElemWrapper{
    display: inline;
    width: 50%;
}